

@if (UserSkills != null)
{
    <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Skills</h2>
                <p>Some skills I get it.</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6">

                    @foreach (var skill in UserSkills.OrderBy(o => o.SkillPriority).ThenByDescending(d => d.Level))
                    {
                        <div class="progress">
                            <span class="skill">@skill.Title<i class="val">@skill.Level%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@skill.Level" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    }

                </div>
                <div class="col-lg-6">
                    @foreach (var skill in UserSkills.OrderBy(o => o.SkillPriority).ThenByDescending(d => d.Level))
                    {
                        <div class="progress">
                            <span class="skill">@skill.Title<i class="val">@skill.Level%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@skill.Level" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    }

                </div>

            </div>

        </div>
    </section>

}

@code{
    [Parameter] public List<Models.Skills> UserSkills { get; set; }
}